version: "3.9"
services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    ports:
      - "3000:3000"
    volumes:
      - frontend_data:/node_modules
    environment:
      - NEXT_PUBLIC_BASE_URL=http://backend:8080
      - NEXTAUTH_JWT_SECRET=ERICKBATISTAPRADO
      - NEXTAUTH_SECRET=ERICKBATISTAPRADO
    networks:
      - app-network

  backend:
    depends_on:
      - postgres
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: backend
    ports:
      - "8080:8080"
    volumes:
      - backend_data:/data
    restart: always
    environment:
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url": "jdbc:postgresql://postgres:5432/postgres",
        "spring.datasource.username": "postgres",
        "spring.datasource.password": "123456789",
        "spring.jpa.hibernate.ddl-auto": "update",
        "springdoc.swagger-ui.path": "/api-doc",
        "rsa.private-key": "classpath:certs/private.pem",
        "rsa.public-key": "classpath:certs/public.pem"
        }'
    networks:
      - app-network

  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456789
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - "5432:5432"
    networks:
      - app-network

volumes:
  postgres_data:
  backend_data:
  frontend_data:

networks:
  app-network:
    driver: bridge
